<%- include('partials/nav') %>

<section class="timetable">
<div class="container">
<h1>Timetable Morning</h1>

<div class="row">


  
<div class="selected_table">

<h2><%= timetable.dept %>  Morning</h2>
<a href="/<%= timetable.file_doc %>" ><img src="/<%= timetable.file_doc %>" class="img-fluid" alt="Timetable"></a>

</div>




</div>
</section>
<%- include('partials/footer') %> 